@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

.animate {
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }
}

.bounce {
    animation-name: bounce;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}


/*---------------------------- CSS --------------------------*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
}

body {
    cursor: url('imagens/cursor-p.png'), auto;
}

header {
    background-image: linear-gradient(to bottom, #90d5ee, #4493b0, #0B3F52);
    color: white;
    height: 650px;
    width: 100%;
}

#container-1 {
    display: grid;
}

#img-logo {
    margin: auto;
    width: 350px;
}

h1 {
    font-size: 5em;
    text-align: center;
    font-weight: normal;
    overflow-wrap: normal;
}

#descricao {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.31);
    text-align: justify;
}

#container-2 {
    padding: 20px;
    text-align: center;
}

.item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8 {
    padding: 10px;
    margin: 30px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.31);
}

.sinopse {
    color: white;
    height: 650px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 10px 90px 200px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: -15%;
}

.item {
    position: relative;
    display: inline-block;
    cursor: url('imagens/cursor2.png'), auto;
}

.item .sinopse {
    visibility: hidden;
}

.item .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.titulo {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
    padding: 10px;
    font-size: 2.5em;
    text-align: left;
}

.texto {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
    padding: 20px;
    margin: 10px;
    text-align: left;
}

.sinopse > img {
    grid-column: 3;
    grid-row: 3 / span 2;
    height: 350px;
    width: 220px;
}
/*------------------------ Pop up 1 --------------------------*/
.sinopse-1 {
    background-image: linear-gradient(to bottom, #696B78, #67a1ba, #14695D);
} 

.sinopse-1 > img {
    height: 400px;
}
/*------------------------ Pop up 2 --------------------------*/
.sinopse-2 {
    background-image: linear-gradient(to bottom, #FF949B, #378A73, #488C97, #191F42);
}
/*------------------------ Pop up 3 --------------------------*/
.sinopse-3 {
    background-image: linear-gradient(to bottom,#C52930, #1C233C);
}
/*------------------------ Pop up 4 --------------------------*/
.sinopse-4 {
    background-image: linear-gradient(to bottom, #E1DC9E, #132232);
}
/*------------------------ Pop up 5 --------------------------*/
.sinopse-5 {
    background-image: linear-gradient(to bottom, #E9EAD5,#BC5E49, #323B5A);
}
/*------------------------ Pop up 6 --------------------------*/
.sinopse-6 {
    background-image: linear-gradient(to bottom, #01BAEB, #000F68);
    grid-template-rows: 30px 100px 200px;
}
/*------------------------ Pop up 7 --------------------------*/
.sinopse-7 {
    background-image: linear-gradient(to bottom, #f0e3f0,#d91a56);
}
.sinopse-7 > img {
    width: 216px;
    height: 320px;
}
/*------------------------ Pop up 8 --------------------------*/
.sinopse-8 {
    background-image: linear-gradient(to bottom, #FCF56C,#d47032, #977F53);
}
/* ------------------------ Botoes ---------------------------*/

#botao-1 {
    grid-column: 1;
    grid-row: 5;
    background-color: #85C2A2;
    height: 60px;
    width: 170px;
    align-self: center;
    margin: 20px;
    border: none;
    transform: skew(-10deg);
}

#botao-1:hover {
    border: solid 2px white;
    transition-duration: .2s;
}

button > a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

#botao-2 {
    grid-column: 3;
    grid-row: 5;
    background-color: #0b3f5200;
    height: 60px;
    width: 170px;
    align-self: center;
    margin: 10px;
    border: solid 2px white;
    transform: skew(-10deg);
}

#botao-2:hover {
    background-color: #85C2A2;
    transition-duration: .5s;
}

footer {
    background-image: linear-gradient(to bottom, #ffffff, #90d5ee);
    padding: 12px;
    text-align: center;
}